{% extends 'gan_base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center" style="margin-top: 10px">
                <h3>Welcome to GAN Factory</h3>
                <form method="post">
                    <button type="submit" class="btn btn-primary">Click ME!</button>
                </form>

            </div>
        </div>
        <br>
        <div class="container">
            {% if images %}
                {% for img in images %}
                    <div class="row justify-content-center">
                        <img src="{{ img }}" alt="Please Submit"/>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-success">Buy Bundle</button>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                <h5>Please generate graph using above button</h5>
            {% endif %}

        </div>
    </div>
{% endblock %}